apiVersion: v1
kind: Service
metadata:
  name: asr-api
  namespace: forensic-tools
  labels:
    app: asr-api
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9000"
    prometheus.io/path: "/metrics"
spec:
  selector:
    app: asr-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 9000
      name: http
  type: ClusterIP

